openai
langchain
langchain-community
langchain-core
langgraph
langgraph-checkpoint-postgres
Groq
langchain-groq
langchain-openai
psycopg2-binary
psycopg[binary]
psycopg-pool
python-dotenv
flask
fastmcp
mcp[cli]
mcp-use
tools
langsmith
langgraph-cli[inmem]



